 <mat-toolbar class="header-toolbar">
      <div class="container">
        <div class="header-content">
          <h1 class="logo">Shubham Bawa</h1>
          <div class="header-actions">
            <button mat-stroked-button (click)="openGithub()">
              <mat-icon>code</mat-icon>
              GitHub
            </button>
            <button mat-stroked-button (click)="downloadCV()">
              <mat-icon>download</mat-icon>
              Download CV
            </button>
            <button mat-raised-button color="primary" (click)="contactMe()">
              <mat-icon>email</mat-icon>
              Contact Me
            </button>
         </div>
       </div>
    </div>
</mat-toolbar>